<a href="" class="card-roadmap text-decoration-none">
  <div class="card border-0 shadow rounded-4 overflow-hidden">
    <img src="assets/img/course1.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title fw-semibold">
        Full-Stack Laravel Flutter: Build e-Wallet Mobile Apps
      </h5>
      <p class="fw-light mt-2">Rp. 780.000</p>
      <div class="d-flex align-items-center">
        <i class="bi bi-person-fill text-primary fs-5"></i>
        <span class="fw-light text-secondary">(79)</span>
      </div>
    </div>
  </div>
</a>
