body {
  font-family: 'Poppins', sans-serif;
}

.card {
  transition: .3s;
}

.card-roadmap:hover .card {

  scale: 1.05;
  transition: .3s;
}

.mt-navbar {
  margin-top: 150px;
}

.btn-roadmap {
  transition: box-shadow 0.3s ease-in-out;
}

.btn-roadmap:hover {
  box-shadow: 3px 5px 20px rgba(0, 123, 255, 0.2);
}