body {
  font-family: 'Poppins', sans-serif;
}

.card {
  transition: .3s;
}

.card-roadmap:hover .card {

  scale: 1.05;
  transition: .3s;
}

.mt-navbar {
  margin-top: 150px;
}

.btn-roadmap {
  transition: box-shadow 0.3s ease-in-out;
}

.btn-roadmap:hover {
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
}
.btn-play {
  transition: box-shadow 0.2s ease-in-out;
}

.btn-play:hover {
  box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.1);
}

